language: julia
os:
  - linux
julia:
  - 0.4
  - 0.5
  - nightly
notifications:
  email: false
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia --check-bounds=yes -e 'Pkg.clone(pwd()); Pkg.build("DSP"); Pkg.test("DSP"; coverage=true)'
after_success:
  - julia -e 'cd(Pkg.dir("DSP")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
