name: CI
on:
  push:
    branches: [master]
    tags: ['*']
  pull_request:
  workflow_dispatch:
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}

    permissions:
      actions: write
      contents: read

    strategy:
      fail-fast: false
      matrix:
        version:
          - '1'    # Current stable version
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
        arch:
          - x64
        include:
          - os: macOS-14
            arch: aarch64
            version: '1'
          - os: ubuntu-latest
            arch: x86
            version: '1'
          - os: ubuntu-latest
            arch: x64
            version: '1.6'
          - os: ubuntu-latest
            arch: x64
            version: 'nightly'

    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v1
        with:
          cache-registries: ${{ !(matrix.version == '1.6' && matrix.os == 'windows-latest') }}
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v4
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}

  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-docdeploy@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
