name: Delete preview deployment

on:
  pull_request:
    types: [ closed ]
jobs:
  delete-preview:
    name: Delete preview deployment
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: gh-pages
      - run: rm -rf previews/PR${{ github.event.number }}
      - uses: stefanzweifel/git-auto-commit-action@v7.0.0
        with:
          commit_message: 'Delete preview of PR#${{ github.event.number }}'
          branch: gh-pages
